.sponsors {
  @include box(30px, 30px);

  @include mq(sm) {
    @include box(40px, 40px);
  }
  h4 {
    margin-top: 35px;
  }
}

.sponsors-caption {
  font-size: scale(1);
}

.sponsors-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-bottom: 40px;

  > a {
    padding: 20px;

    > img[alt="Reservix"] {
      height: auto;
      max-width: 240px;
    }

    > img[alt="Black Forest Labs"] {
      height: auto;
      max-width: 340px;
    }
  }
}
